* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0d1117;
    color: white;
    scroll-behavior: smooth;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #161b22;
}

nav h2 {
    color: #58a6ff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #58a6ff;
}

/* Sections */
.section {
    min-height: 100vh;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    opacity: 0;
    transform: translateY(40px);
    transition: 0.8s;
}

.section.show {
    opacity: 1;
    transform: translateY(0);
}

/* Home */
#home {
    text-align: center;
}

#home h1 {
    font-size: 3rem;
}

#home span {
    color: #58a6ff;
}

/* Cards */
.card {
    background: #161b22;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(88, 166, 255, 0.2);
}

.card:hover {
    transform: scale(1.05);
}

/* Form */
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #58a6ff;
}

/* Button */
button {
    background: #58a6ff;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background: #1f6feb;
}

/* Message */
#responseMsg {
    color: #00ffcc;
    margin-top: 10px;
}