* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #0d1117;
    color: white;
    scroll-behavior: smooth;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(22,27,34,0.9);
    position: sticky;
    top: 0;
}

nav h2 {
    color: #58a6ff;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: 0.3s;
}

nav a:hover {
    color: #58a6ff;
}

/* Sections */
.section {
    min-height: 100vh;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    opacity: 0;
    transform: translateY(50px);
    transition: 1s;
}

.section.show {
    opacity: 1;
    transform: translateY(0);
}

/* Hero */
#home {
    text-align: center;
}

#home h1 {
    font-size: 3.5rem;
}

#home span {
    color: #58a6ff;
}

#home p {
    margin-top: 15px;
    opacity: 0.8;
}

/* Typing effect */
.typing {
    border-right: 3px solid #58a6ff;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(30) forwards, blink 0.7s infinite;
}

@keyframes typing {
    to { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

/* Cards */
.card {
    background: #161b22;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    transition: 0.4s;
    box-shadow: 0 0 15px rgba(88,166,255,0.2);
}

.card:hover {
    transform: translateY(-10px) scale(1.05);
}

/* Form */
input, textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 10px #58a6ff;
}

/* Button */
button {
    background: #58a6ff;
    padding: 12px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1f6feb;
    transform: scale(1.1);
}

/* Message */
#responseMsg {
    color: #00ffcc;
    margin-top: 10px;
}